body {
  margin: 0;
  font-family: "poppins";
}

a {
  text-decoration: none;
}

.container{
  width:1170px;
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto;
}

.top-wrapper{
  padding-top:180px;
  padding-bottom:100px;
  color:white;
  background-image:url(https://image.freepik.com/free-photo/rear-view-programmer-working-all-night-long_1098-18697.jpg);
  background-size:cover;
