body {
  margin: 0;
  font-family: "poppins";
}

a {
  text-decoration: none;
}

.container{
  width:1170px;
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto;
}

.top-wrapper{
  padding-top:180px;
  padding-bottom:100px;
  color:white;
  background-image:url(https://raw.githubusercontent.com/LatihanWebsite/github.io-G33/master/Atas.png);
  background-size:cover;
